*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
   
 
}

body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
/* nav start */
header{
  padding: 0 20px;
   width: 100vw;
   height: 80px;
   font-weight: 600;
   display: flex;
   align-items: center;
     background-color: rgb(247, 245, 242);
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
     position: sticky;
     top: 0px;
     z-index: 3;
}


nav{
   
    width: 100%;
    display: flex;
    justify-content: space-between;
   
  
}

.nav-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.nav-list a{
    text-decoration: none;
    color: black;
  

}

.nav-list a:hover{
    color:rgb(236, 56, 56);
}
 .icons{
 display: flex;
 gap: 10px;
}

/* nav end */
/* hero section start */
.hero{
    display:flex;
    flex-wrap: wrap; 
}
.image{
    
position: relative;
width: calc(100%/2);
overflow: hidden;


}

.image>img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    opacity: 0.5;
    transition:transform .3s ease;
   
}

.image-overlay{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    
   
    
}
.image-overlay>img{
  width: 100%;
 max-width: 550px;
  height: auto;
  transition:transform .3s ease;
  margin-bottom: 20px;
  
}
.image-overlay p{
    font-size: 30px;
    font-weight: 500;
   }

.image:hover img{
 transform: scale(1.1);

}
/* hero Section end */
/* blackbar start */
.blackbar{
    background-color: rgb(5, 5, 5);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
   
     
}
.blackbar div{
 background-color: black ;
 width: calc(100%/4 - 20px);
 height: auto;
 text-align: center;
}


/* blackend end*/

/* content start */
.content{

    padding: 30px 0px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
}
.content>h2{
    font-size: 32px;
    margin-bottom:20px ;
}
.Love{
    padding: 10px;
    margin-bottom: 10px;
}
.content .Love a{
    text-decoration: underline;
    color: #ff4a32;
}
 hr{
    height: 4px;
    width: 200px;
     margin: auto;
    border: none; 
    background-color: rgba(128, 128, 128, 0.301); 
    
}

.question{
    display: flex;
    justify-content: center;
    width: 85%;
    margin: auto;
    height: 70vh;
    padding: 20px 0px;
   
   
}  
 .one-half{
  width: calc(50%);
  
 /* border: #ff4a32 1px solid; */
  /* Stack content vertically */
 font-weight: 500;
 line-height: 1.7;

}
.left img {
    width: 100%; 
    height: 100%;
    cursor: pointer;
  
  }
  .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px 20px;
  }
.right>h1{
   font-size: 32px;
   font-weight: bold; 
   margin-bottom: 20px;
}

.right p{
    margin-bottom:15px ;
  
   
}
.button{
    color: #fff;
    background-color: #ff4a32;
    border-color: #0000;
  display: inline-block;
    text-align: center;
    font-size: 15px;
     padding: 7px 12px;
    border-radius: 35px;
}
.high-performance{
    position: relative;
    
}
.high-performance img ,.high-performance2 img{
  max-width: 100vw;
  height: auto;
}

.high-content{
    position: absolute;
    
    text-align: center;
     padding: 20px;
    top: 10%;
    width: 30%;
    left: 50%;
  transform: translateX(-50%);   
}

.high-content>h1{
   font-size: 45px;
   
}
.high-content>p{
    margin: 20px 0px;
    font-weight: 600;
    letter-spacing: 1.4px;
}

 .video-container{
    width: 80%;
    height: 70vh;
    margin: 20px auto;
 }
 
 .video-container iframe{
    width: 100%;
    height: 100%;
   
 }
 .high-performance2{
    position: relative;
}
.high-performance2>.high-content{
    position: absolute;
    color: #fff;
    text-align: center;
     padding: 20px;
    top: 50%;
    width: 50%;
    left: 50%;
  transform: translate(-50%,-50%);   
}
.high-performance2 .button{
   
    padding: 7px 65px;
}

.boosted h1{
    font-size: 32px;
    text-align: center;
    padding: 20px;
}
.boosted h1:hover{
       color:#ff4a32;
}
  
.card-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 
    padding:40px;
    margin: 30px;
  }
  
  .card {
    position: relative;
    width: calc(14.2857% - 20px); /* Adjust width for seven cards */
    max-width: 200px; /* Set maximum width for cards */
    text-align: center;
   
    
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card a {
    text-decoration: none;
    color:  #ff4a32;
    font-weight: bold;
  }
  
  .card p {
    margin-top: 10px;
    font-size: 18px;
  }
  .card-container::before,
.card-container::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.068);
  color: #070707;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 1;
}
.card-container::after{
    content: '>';
}
.card-container::before{
    content: '<';
}


.card-container::before {
  left: 0;
}

.card-container::after {
  right: 0;
}

.newsletter {
   
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .Subscribe{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

  }
  .newsletter h1 {
    margin: 20px 0px;
    font-size: 43px;
    text-align: center;

  }
  .newsletter p {
    margin-bottom: 40px;
    text-align: center;

  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 form a{
    text-decoration: underline;
 }
  
  button {
    padding: 10px 20px;
    background-color: #ff4a32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff6859;
  }

  .upper,.lower{
    padding: 20px 0px;
    display: flex;
    width: 80%;
    margin: auto;
   
  }

  .box{
    width: calc(100%/3);
    line-height: 1.5;
    padding: 20px 0px;
   
  }
  .box h1{
    margin-bottom: 10px;
  }
  .box li,p{
    font-size: 14px;
  }

  .lower{
    justify-content: space-between;
    background-color: white;
   
  }

  .payment-methods {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
  }
  
  .payment-box {
   
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .payment-box img {
    max-width: 50px;
    max-height: 20px;
}
.Go{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    background-color: black;
    margin-top: 0;
    transform: translateY(-1rem);
}

.Go>.items{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3rem;
}
.Go>.items>.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    width: 20rem;
    text-align: center;

}
.Go>.items>.item>img{
    width: 8rem;
    height: 8rem;
}
@media only screen and (max-width: 950px){
  .question{
    
    flex-direction: column;
   
    height: auto;
   
 
}
.right{
  width: 100%;
  margin-bottom:20px ;
}  
.high-content{
 top:5%;
}
 .high-content > h1 {
  font-size: 35px;
}

.high-content > p {
  margin: 12px 0px;
  
  letter-spacing: 1px;
} 
.video-container{
  width: 90%;
 
}
.blackbar div{
 
  width: calc(100%/2 - 20px);
  height: auto;
 }
}
@media only screen and (max-width: 800px){
  
  .Go > .items {
    flex-direction: column; /* Stack items vertically */
    gap: 2rem; /* Add space between stacked items */
    padding: 20px;
  }

  .Go > .items > .item {
    width: 100%; /* Full width for stacked items */
    margin-bottom: 2rem; /* Add some margin between stacked items */
  }
  .upper{
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .box{
    width: calc(100%);
    line-height: 1.5;
    padding: 20px 0px;
   
  }
  .lower{
    width: 100%;
  }
}